<div class="app-zip">
  <div class="zip-set" *ngIf="hasZip">
    <div class="zip-set__active">
      <p class="inline">Your ZIP {{ zipCode }}</p>
      <button class="inline" (click)="clearZip()"><i class="material-icons">clear</i></button>
    </div>
    <div class="zip-set__inactive" *ngIf="userZips?.length > 0">
      <ul class="zip-set__saved-zips">
        <span>Change zip:</span>
        <li *ngFor="let zip of userZips">
          <button [class.selected]="zip == zipCode" (click)="storeZip(zip)">{{zip}}</button>
        </li>
      </ul>
    </div>
    <div class="add-zip-form" *ngIf="hasUser">
      <form id="add_zip_form" (ngSubmit)="addUserZip()">
        <label for="add_zip">Add a zip</label>
        <input type="text"
               name="add_zip"
               [(ngModel)]="addZip"
               placeholder="Add a zip"
               size="10"
               pattern="[0-9]*">
        <input type="submit"
               value="Add">
      </form>
    </div>
  </div>

  <div class="flash__container">
    <div class="flash-msg" [hidden]="!flash">
      <strong>{{flash}}</strong>
      <button class="button" (click)="clearFlash()"><i class="material-icons">clear</i></button>
    </div>
  </div>

  <div class="form" [hidden]="hasZip">
    <form (ngSubmit)="storeZip(zipCode)" id="zipcode-set">
      <label for="zip_code">Zip code</label>
      <input type="text"
             name="zip_code"
             [(ngModel)]="zipCode"
             placeholder="Enter ZIP"
             size="10"
             pattern="[0-9]*">
      <input type="submit" value="Save ZIP">
      <span [hidden]="!formError">Please enter a valid U.S. zip code.</span>
    </form>

    <form (ngSubmit)="fetchZips()" id="zipcode-username" *ngIf="hasUser" [hidden]="userZips">
      <label for="user_name">Username</label>
      <input type="hidden"
             name="user_name"
             [(ngModel)]="username"
             placeholder="Username">
      <input type="submit" value="Show My Zips">
    </form>

    <ul class="zip-list" *ngIf="hasUser">
      <h3>Select from saved zip codes</h3>
      <li *ngFor="let zip of userZips">
        <button (click)="storeZip(zip)" class="button">Use {{zip}}</button>
      </li>
    </ul>
  </div>
</div>