<app-tv-menu></app-tv-menu>

<div class="error-msg" [hidden]="!errorMsg">
  <h3><i class="material-icons">warning</i>{{ errorMsg }}</h3>
</div>

<ng-container *ngIf="loading">
  <app-loading-dots ></app-loading-dots>
</ng-container>

<div class="sports" [hidden]="!sportsShowing">
  <h2 class="section-title">Sports on TV - <span class='date'>
    <button class="btn-icon" (click)="changeDate(-1)"><i class="material-icons">arrow_left</i></button>
    {{schedDate | date: 'M/d'}}
    <button class="btn-icon" (click)="changeDate(1)"><i class="material-icons">arrow_right</i></button>
    </span></h2>
  <form class="sports-genre" (ngSubmit)="setFilter(sportInput)">
    <input type="text" [(ngModel)]="sportInput" placeholder="Search by sport" name="sport-filter">
    <input type="Submit" value="Filter">
  </form>
  <div class="filter-btn">
    <button type="button" [class.active]="sportFilter == 'football'" (click)="setFilter('football')">Football</button>
    <button type="button" [class.active]="sportFilter == 'soccer'" (click)="setFilter('soccer')">Soccer</button>
    <button type="button" [class.active]="sportFilter == 'hockey'" (click)="setFilter('hockey')">Hockey</button>
    <button type="button" [class.active]="sportFilter == 'basketball'" (click)="setFilter('basketball')">Basketball</button>
    <button type="button" [class.active]="sportFilter == 'baseball'" (click)="setFilter('baseball')">Baseball</button>
    <button type="button" class="reset" (click)="setFilter('')">Reset</button>
  </div>
  <p *ngIf="sportsShowing" class="small-text"><em>{{(sportsShowing | genrePipe:sportFilter).length}} events found</em></p>
  <div *ngFor="let show of (sportsShowing | genrePipe:sportFilter)"
       class="movieTile" (click)="show.selected = !show.selected">
    <div class="tile-header">
      <h3 class="movie-title">{{show.title}}</h3>
      <p>{{ joinArray(show.genres) }} - {{show.showtime | date:'shortTime' }}</p>
    </div>
    <div class="tile-body">
      <div [class]="show.selected ? 'open' : 'closed'">
        <img *ngIf="show.selected" src="{{show.image}}" alt="{{show.title}}" class="img-left">
        <p class="description">{{show.description}}</p>
        <!--<p>{{show.summary}}</p>-->
        <p>{{show.showtime | date: 'M/d'}}</p>
        <p class="pad-bot">{{show.station}}</p>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
</div>
