<div class="user-header">
  <h2>{{username}}</h2>
  <button type="button" (click)="logout()" class="user-action">Logout</button>
</div>
<div class="flash__container">
  <div [ngClass]="['flash-msg', flash.status ? flash.status : 'info']" [hidden]="!flash.message">
    <strong [innerHtml]=flash.message></strong>
    <button class="button" (click)="clearFlash()"><i class="material-icons">clear</i></button>
  </div>
</div>

<div class="user-zips empty">
  <p *ngIf="userZips.length == 0">No zips found</p>
</div>

<div class="user-list__ctr">
  	<div class="header-with-button">
		<h3>Saved zips</h3>
		<button class="button" (click)="showZipFields()">show</button>
	</div>
  	<ng-container *ngIf="showZips">
		<ul class="user-list">
			<li *ngFor="let zip of userZips">
				{{zip}}
				<button type="button" (click)="deleteZip(zip)">
					<i class="material-icons">clear</i>
				</button>
			</li>
		</ul>

		<form (ngSubmit)="storeZip(newZip)" id="new-user-zip">
		<label for="new_zip">Add zip</label>
		<input type="text"
				name="new_zip"
				[(ngModel)]="newZip"
				placeholder="Enter ZIP"
				size="10"
				pattern="[0-9]*">
		<input type="submit" value="Save ZIP">
		<span [hidden]="!formError">Please enter a valid U.S. zip code.</span>
		</form>
	</ng-container>
</div>

<div class="user-list__ctr">
  <h3>Saved shows</h3>
  <div *ngFor="let showDetail of userShowDetails">
    <app-tv-detail [show]="showDetail" [save]="true" [remove]="true" [userToken]="userToken"></app-tv-detail>
  </div>
</div>
