<div [ngClass]="['flash-msg', flash.status ? flash.status : 'info']" *ngIf="flash.message">
  <strong [innerHtml]=flash.message></strong>
</div>
<h2>Log in</h2>
<form id="form-user-login" (ngSubmit)="loginUser()">
  <label for="user-login-email">Email</label>
  <input type="email"
         id="user-login-email"
         name="user-login-email"
         [(ngModel)]="user_email"
         placeholder="Email"
         required>
  <label for="user-login-password">Password</label>
  <input type="password"
         id="user-login-password"
         name="user-login-password"
         [(ngModel)]="password"
         placeholder="Password"
         required>
  <input type="submit" value="Login" >
</form>