@import "var";

$screenXS: 384px;

// this should be global somewhere.
ul.align-right li:first-child {
  margin-left: auto;
}

button.no-style {
  border: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.nhl-games,
.mlb-games {

  p.dateline {
    margin-top: 0.15em;
    margin-bottom: 0.25em;
  }

  &.teampage h3 {
	margin-left: 0.5em;
  }
}

.game-tiles {
  display: flex;
  flex-flow: row wrap;
}

.game-tile {
  display: grid;
  max-width: 350px;
  grid-template-columns: 250px 30px 70px;
  grid-template-rows: 20px auto;
  row-gap: 10px;
  border: 1px solid $color-ltgray;
  border-radius: 4px;
  margin: 0 0.25rem 0.5rem;
  padding: 0.5rem 1rem 1rem;

  .game-team a {
	text-decoration: none;
	color: inherit;
  }

  @media (max-width: 384px) {
    max-width: 290px;
    grid-template-columns: 190px 30px 70px;
    margin-right: 0;
  }

  &.game-updated,
  &.home-game {
    background-color: $color-ltgray;
    border-color: $color-mdgray;
  }

  .game-title {
    color: $color-mdgray;
    grid-row: 1;
    grid-column: 1/3;

    h3 {
      font-size: 12px;
      margin: 0;
    }
  }

  button {
    border-width: 1px;
    border-color: $color-primary;
    border-radius: 4px;
    color: $color-primary;
    background-color: $color-ltgray;
    padding: 0.2rem;

    &:hover {
      background-color: $color-secondary;
      border-color: $color-primary;
    }

    &:active {
      background-color: $color-primary;
      color: $color-white;
    }

    &:disabled {
      border-color: $color-mdgray;
      color: $color-dkgray;
    }
  }

  .game-team {
    grid-column: 1;
    font-size: 1.1em;
  }

  .game-status,
  .game-update {
    grid-column: 3;
    text-align: center;
  }

  .game-status {
    grid-row: 2;
  }

  .game-update {
    grid-row: 3;
  }

  .game-score {
    grid-column: 2;
  }

  .score-visitor {
    grid-row: 2;
  }

  .score-home {
    grid-row: 3;
  }

  @media (max-width: 384px) {
    .game-team,
    .game-status,
    .game-score {
      font-size: 0.95em;
    }
  }
}

div.team-standings {
	margin: 0 0.25rem 0.5rem;

	table {
		max-width: 600px;
		width: 100%;
		border: 1px solid $color-mdgray;
		border-collapse: separate;
		border-spacing: 0;
		border-radius: 4px;

		th {
			background-color: $color-ltgray;
		}

		th, td{
			text-align: left;
			padding: 0.5em 0.8em;

			&.field-num {
				text-align: center;
			}
		}

		tr.active {
			background-color: $color-secondary;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		@media (max-width: $screenXS) {
			font-size: 0.95em;

			th.field-extra,
			td.field-extra {
				display: none;
			}
		}
	}
}