<app-tv-menu [activePath]="'movies'"></app-tv-menu>

<ng-container *ngIf="loading">
  <app-loading-dots ></app-loading-dots>
</ng-container>

<div class="error-msg" [hidden]="!errorMsg">
  <h3><i class="material-icons">warning</i>{{ errorMsg }}</h3>
</div>

<div class="movies" [hidden]="!moviesShowing">
  <h2 class="section-title">Movies on TV</h2>
  <form class="movies-genre" (ngSubmit)="setFilter(movieInput)" [hidden]=true>
    <input type="text" [(ngModel)]="movieInput" placeholder="Select genre" name="genre-filter">
    <input type="Submit" value="Filter">
  </form>
  <div class="filter-btn">
    <button type="button" [class.active]="movieFilter == 'children'" (click)="setFilter('children')">Family</button>
    <button type="button" [class.active]="movieFilter == 'animated'" (click)="setFilter('animated')">Animated</button>
    <button type="button" [class.active]="movieFilter == 'comedy'" (click)="setFilter('comedy')">Comedy</button>
    <button type="button" [class.active]="movieFilter == 'drama'" (click)="setFilter('drama')">Drama</button>
    <button type="button" [class.active]="movieFilter == 'action'" (click)="setFilter('action')">Action</button>
    <button type="button" [class.active]="movieFilter == 'adventure'" (click)="setFilter('adventure')">Adventure</button>
    <button type="button" [class.active]="movieFilter == 'science fiction'" (click)="setFilter('science fiction')">Sci-fi</button>
    <button type="button" [class.active]="movieFilter == 'thriller'" (click)="setFilter('thriller')">Thriller</button>
    <button type="button" [class.active]="movieFilter == 'horror'" (click)="setFilter('horror')">Horror</button>
    <button type="button" class="reset" (click)="setFilter('')">Reset</button>
  </div>
  <p *ngIf=moviesShowing class="small-text"><em>{{(moviesShowing | genrePipe:movieFilter).length}} movies found</em></p>

  <div *ngFor="let mov of (moviesShowing | genrePipe:movieFilter)" [@fadeIn]
       class="movieTile" (click)="mov.selected = !mov.selected">
    <div class="tile-header">
      <h3 class="movie-title inline">{{ mov.title }}</h3>
      <p class="inline">{{mov.station}}</p>
      <p class="inline left-marg">{{mov.tvshowtime | date:'shortTime'}}</p>
      <p class="inline">
        <span *ngFor="let num of [].constructor(mov.qualityRating)" class="material-icons material-al-bot">star</span>
      </p>
    </div>
    <div class="tile-body" [hidden]="!mov.selected" [@expand]>
      <div [class]="mov.selected ? 'open' : 'closed'">
        <p class="description"><em>{{ mov.description }}</em></p>
        <p class="cast"><strong>Cast: </strong>{{ joinArray(mov.cast) }}</p>
        <p class="movie-genres">{{ joinArray(mov.genres) }}</p>
        <p class="pad-bot">{{ mov.summary }}</p>
      </div>
    </div>
  </div>
</div>