div.movieTile {
    width:100%;
    padding:0;
    background:linear-gradient(lightcyan, lightblue);
    margin-bottom:10px;
    border-radius:12px;
}

div.tile-header {
    border-radius: 12px 12px 0 0;
    background:navy;
    color:white;
}

div.tile-body {
    margin:0 15px;
}

div.tile-body .closed {
    display:none;
}

div.tile-body .open {
    display:initial;
}

h3.movie-title {
    margin-top:0;
    padding:15px 15px 0;
}

p.movie-genres {
    font-style: italic;
}

p.movie-rating {
    margin-left: 15px;
}

h3.movie-title,
p.movie-genres,
p.movie-rating {
    display: inline-block;
}

ul.showtimes-list li {
    display:inline-block;
    margin-right:10px;
}