<app-zip></app-zip>

<div [ngClass]="!hasData && userZip? 'active' : 'inactive'" class="get-button">
  <form (ngSubmit)="getMovies()">
    <input type="submit" value="Get movies" [disabled]="hasData">
  </form>
</div>

<div class="title-bar" *ngIf="hasData">
  <h2>{{ title }}</h2>
</div>

<ng-container *ngIf="loading">
  <app-loading-dots ></app-loading-dots>
</ng-container>

<div class="error-msg" [hidden]="!errorMsg">
  <h3><i class="material-icons">warning</i>{{ errorMsg }}</h3>
</div>

<div class="movie-ctr">

  <div *ngFor="let mov of moviesShowing"
       [@fadeIn]
       class="movieTile">
    <div class="tile-header"
       (click)="mov.selected = !mov.selected">
      <h3 class="movie-title inline">{{ mov.title }}</h3>
      <p class="inline">
        <span *ngFor="let num of [].constructor(mov.qualityRating)" class="material-icons material-al-bot">star</span>
      </p>
      <p>{{mov.rating }} <span class="movie-genres">{{ joinArray(mov.genres) }}</span></p>
    </div>

    <div class="tile-body">
      <div [class]="mov.selected ? 'open' : 'closed'">
        <p class="description"><em>{{ mov.description }}</em></p>
        <p class="cast"><strong>Cast:</strong> {{ joinArray(mov.cast) }}</p>

        <div class="showtimes">
          <!--<p>showtimes: {{ mov.showtimes.length }}</p>-->
          <div *ngFor="let showtime of mov.showtimes">
            <h5>{{ showtime.name }}
              <span *ngIf="showtime.ticketURI"><a href="{{showtime.ticketURI}}" target="blank"><i class="material-icons">shopping_basket</i></a></span>
            </h5>
            <ul class="showtimes-list">
              <li *ngFor="let time of showtime.times">{{ time | slice:-5 }}</li>
            </ul>
          </div>
        </div>

        <p class="summary">{{ mov.summary }}</p>
        <p>{{ mov.runtime }}</p>
      </div>

    </div>
  </div>

</div>