<h2>{{ title }}</h2>
<div *ngFor="let mov of moviesShowing" class="movieTile" (click)="mov.selected = !mov.selected">
  <div class="tile-header">
    <h3 class="movie-title inline">{{ mov.title }}</h3>
    <p class="inline">{{mov.station}}</p>
    <p class="inline left-marg">{{mov.tvshowtime | date:'jm'}}</p>
  </div>
  <div class="tile-body">
    <div [class]="mov.selected ? 'open' : 'closed'">
      <p class="movie-genres">{{ joinArray(mov.genres) }}</p>
      <p [style.visibility]="mov.qualityRating > -1 ? 'visible' : 'hidden'">Rating: {{ mov.qualityRating }}</p>
      <p class="description"><em>{{ mov.description }}</em></p>
      <p>{{ mov.summary }}</p>
      <p class="cast"><strong>Cast: </strong>{{ joinArray(mov.cast) }}</p>
    </div>
  </div>
</div>