<!-- sub menu -->
<div class="sub-menu">
  <ul>
    <li (click)="getMovies()" [ngClass]="active == 'movies' ? 'active' : 'inactive'">Movies on TV</li>
    <li (click)="getSports()" [ngClass]="active == 'sports' ? 'active' : 'inactive'">Sports on TV</li>
    <li (click)="getSearch()" [ngClass]="active == 'search' ? 'active' : 'inactive'">Search for a Show</li>
  </ul>
</div>

<div class="loading-spinner" [hidden]="!loading">
  <img src="/assets/images/04-spinner.gif" alt="Loading">
</div>

<!-- movies on tv component -->
<div class="movies" [ngClass]="active == 'movies' ? 'active' : 'inactive'">
  <h2>Movies on TV</h2>
  <form class="movies-genre" (ngSubmit)="setFilter('movie', movieInput)">
    <input type="text" [(ngModel)]="movieInput" placeholder="Select genre" name="genre-filter">
    <input type="Submit" value="Apply Filter">
  </form>
  <p *ngIf=moviesShowing class="small-text">{{(moviesShowing | genrePipe:movieFilter).length}} movies found</p>
  
  <div *ngFor="let mov of (moviesShowing | genrePipe:movieFilter)" 
       class="movieTile" (click)="mov.selected = !mov.selected">
    <div class="tile-header">
      <h3 class="movie-title inline">{{ mov.title }}</h3>
      <p class="inline">{{mov.station}}</p>
      <p class="inline left-marg">{{mov.tvshowtime | date:'jm'}}</p>
    </div>
    <div class="tile-body">
      <div [class]="mov.selected ? 'open' : 'closed'">
        <p [class]="mov.qualityRating > -1 ? 'active' : 'inactive'">Rating: {{ mov.qualityRating }}</p>
        <p class="description"><em>{{ mov.description }}</em></p>
        <p class="cast"><strong>Cast: </strong>{{ joinArray(mov.cast) }}</p>
        <p class="movie-genres">{{ joinArray(mov.genres) }}</p>
        <p class="pad-bot">{{ mov.summary }}</p>
      </div>
    </div>
  </div>
</div>

<!-- sports on tv component-->
<div class="sports" [ngClass]="active == 'sports' ? 'active' : 'inactive'">
  <h2>Sports on TV - <span class='date'>
    <button (click)="changeDate(-1)"><</button>
    {{sched_date | date: 'M/d'}}
    <button (click)="changeDate(1)">></button>
    </span></h2>
  <form class="sports-genre" (ngSubmit)="setFilter('sport', sportInput)">
    <input type="text" [(ngModel)]="sportInput" placeholder="Select sport" name="sport-filter">
    <input type="Submit" value="Apply Filter">
  </form>
  <p *ngIf="sportsShowing" class="small-text">{{(sportsShowing | genrePipe:sportFilter).length}} events found</p>
  <div *ngFor="let show of (sportsShowing | genrePipe:sportFilter)" 
       class="movieTile" (click)="show.selected = !show.selected">
    <div class="tile-header">
      <h3 class="movie-title inline">{{show.title}}</h3>
      <p class="inline">{{ joinArray(show.genres) }}</p>
      <p class="inline left-marg">{{show.showtime | date:'jm' }}</p>
    </div>
    <div class="tile-body">
      <div [class]="show.selected ? 'open' : 'closed'">
        <img *ngIf="show.selected" src="{{show.image}}" alt="{{show.title}}" class="img-left">
        <p class="description">{{show.description}}</p>
        <!--<p>{{show.summary}}</p>-->
        <p>{{show.showtime | date: 'M/d'}}</p>
        <p class="pad-bot">{{show.station}}</p>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
</div>

<!-- search component -->
<div class="search" [ngClass]="active == 'search' ? 'active' : 'inactive'">
  <h2>Search for a Show</h2>
  <div class="form">
    <form (ngSubmit)="findShow(queryString)">
        <input type="text" name="search_box" 
              placeholder="Search for a show by name" 
              [(ngModel)]="queryString">
        <input type="submit" value="Search">
    </form>
  </div>
  <div class="results">
    <h3>Results</h3>
    <div class="show" *ngFor="let show of results" class="movieTile">
      <div class="tile-header">
        <h3 class="movie-title inline">{{ show.title }}</h3>
        <p class="inline">on {{ show.channel }}</p>
        <p class="inline left-marg"><em>{{ show.runtime }} minutes</em></p>
      </div>
      <div class="tile-body">
        <img src="{{ show.image }}" alt="{{show.title}}" class="img-left">
        <p>{{ show.summary | stripHTMLtags }}</p>
        <p class="inline">{{ joinArray(show.genres) }}</p>
        <p><a href="{{show.link}}">More</a></p>
        <p *ngIf="show.prev_ep"><a href={{show.prev_ep}}>Previous Episode</a></p>
        <p *ngIf="show.next_ep"><a href={{show.next_ep}}>Next Episode</a></p>
        <div class="clear"> </div>
      </div>
    </div> 
  </div>
</div>