$ltgray: #efefef;
$bp-md: 860px;

body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 a {
  color:navy;
  text-decoration: none;
}

ul {
  padding-left:0;
}

li {
  list-style: none;
}

ul.app-menu {
  display: flex;
  flex-direction: row;
  li {
    width: 50%;
    font-size: 1.4rem;
  }
}

ul.list-inline-buttons {
  display: flex;
  flex-flow: row nowrap;

  li {
    margin-right: 1em;
  }
}

.title-bar {
  h2 {
    margin-right: 25px;
  }
}

.app-zip {
  label {
    display: none;
  }
}

#add_zip_form  {
  font-size: 0.9em;

  input {
    padding: 0.4rem;
  }
}

.zip-set {
  display: flex;
  flex-direction: row;
  background: #efefef;
  font-size: .9rem;
  padding-left: 1rem;

  @media (max-width: $bp-md) {
    flex-direction: column;
  }

  p {
    margin: .5rem .5rem .5rem 0;
  }

  i.material-icons {
    vertical-align: sub;
    font-size: 1.2rem;
  }

  button {
    vertical-align: text-bottom;
    border: 1px solid navy;
    border-radius: 2px;
    background: navy;
    color: white;
    padding: 0 0.2rem;

    &:hover,
    &:focus {
      outline: 2px solid orange;
    }
  }

  .zip-set__active {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
  }

  .zip-set__inactive {
    display: flex;
    flex-direction: row;

    li {
      margin: 0.5em 0 0.5em 0.6em;
    }
  }

  ul.zip-set__saved-zips {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 1em 0 0;

    @media (max-width: $bp-md) {
      max-width: 400px;
      overflow-x: scroll;
    }

    li:last-of-type {
      margin-right: 1em;
    }

    button {
      padding: 0.2rem 0.4rem;
    }

    button.selected {
      background-color: lightcyan;
      color: navy;
    }
  }
}

ul.zip-list {
  margin-left: 1em;

  li {
    margin-bottom: 0.5rem;
  }
}

div.movieTile {
  width:100%;
  background:linear-gradient(#efefef, lightcyan);
  border-radius:4px;
  margin-bottom:10px;
  padding:0;

  img {
    max-width: 100%;
  }

  &.dummy {
    .movie-title {
      background: $ltgray;
      width: 25%;
    }
    .tile-body p {
      height: 100px;
      background-color: rgba(navy, .2);
      color: rgba(navy, 0);
    }
  }
}

div.tile-header {
  border-radius: 4px 4px 0 0;
  background:linear-gradient(rgba(0,0,128,1), rgba(0,0,128,0.75));
  color:white;
  cursor:pointer;

  p {
    margin: 0 .75rem;
  }
}

.discovers {
  display: flex;
  flex-flow: row wrap;
  h4 {
    width: 100%;
    margin: .5rem;
  }
  .tile-header {
    color: white;
    border-radius: 0;
  }

  .movieTile {
    width: 33%;
    background: #efefef;
    color: navy;
    margin-right: .2%;
    border-radius: 0;
    @media (max-width: 768px) {
      width: 49.5%;
    }
  }
}

.movie-ctr {
  display: flex;
  flex-flow: row wrap;

  .tile-header {
    padding-bottom: .5rem;
  }
}

.sports .tile-header {
  display: flex;
  flex-direction: column;
  p {
    margin: 0 .75rem .75rem;
  }
}

div.tile-body {
  margin:0 .75rem;
  padding-bottom: 5px;

  > p {
    margin-top:10px;
  }

  .closed {
    display:none;
  }

  .open {
    display:initial;
  }
}

h2 {
  margin: 0.5em;

  &.section-title {
    margin: 0.75rem 0 0.25rem;
    font-size: 1.25rem;
  }

  span {
    font-size: 80%;
  }

  button {
    vertical-align: middle;
  }
}

h3.movie-title {
  margin: .75rem;
  padding: 0;
}

p {
  &.movie-genres {
    font-style: italic;
  }

  &.movie-rating {
    margin-left: 15px;
  }

  &.pad-bot {
    padding-bottom: 20px;
  }

  &.small-text {
    font-size: 0.8em;
    margin: 10px 0;
  }
}

.left-marg {
  margin-left: 15px;
}

.hidden {
  display:none;
}

.not-hidden {
  display:initial;
}

ul.showtimes-list li {
  display:inline-block;
  margin-right:10px;
}

/* Shopping basket link */
.showtimes {
  .material-icons {
    position: relative;
    top: -2px;
    left: 10px;
    font-size: 1.5em;
    vertical-align: top;
    color: forestgreen;
  }
}

div.clear {
  clear:both;
  height:10px;
}

.inline {
  display: inline-block;
  margin-right:10px;
}

.show img {
  float:left;
  margin: 0 10px 10px 0;
}

.img-left {
  float:left;
  margin-right: 10px;
}

.sub-menu {
  width: 100%;

  ul {
    display:flex;
    flex-direction: row;
    width:100%;
    margin:0;
    padding:0;
    @media screen and (max-width: 620px) {
      flex-direction: column;
    }
    li {
      width: 33.333%;
      background-color: #efefef;
      border-right: 4px solid #a4a4a4;
      border-bottom: 2px solid transparent;
      text-align: center;
      @media screen and (max-width: 620px) {
        width: 100%;
        border-right: 0px;
        border-bottom: 2px solid #a4a4a4;
      }
      &:hover {
        border-bottom: 2px solid navy;
      }

      a {
        display: block;
        text-decoration: none;
        padding: 10px 0;
        color: navy;
        font-weight: 600;
        &.active {
          background-color:#daf1f1;
          &.inactive {
            background-color:#efefef;
          }
        }
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}


div.active {
  display:block;
}

p.active {
  display: initial;
}

div.inactive,
p.inactive {
  display: none;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=submit] {
  margin: 10px 5px 10px 0;
  padding:0.5rem;
  font-size:1.2em;
  border: 1px solid gray;
  border-radius: 2px;
}

input[type=submit],
.button {
  border: 1px solid #a4a4a4;
  background-color:#efefef;
  padding:9px;
  cursor:pointer;

  &:hover {
    background-color:paleturquoise;
  }
}

a.button-link {
  text-decoration: none;
}

.loading-spinner {
  max-width: 300px;
  height: auto;
}

.filter-btn {
  display: flex;
  flex-flow: row wrap;
  button {
    background: navy;
    border: 1px solid navy;
    border-radius: 2px;
    font-size: .9rem;
    color: white;
    margin-right: .25rem;
    margin-bottom: .25rem;
    padding: 5px 15px;
    &.reset {
      color: navy;
      background: lightcyan;
    }
    &.active {
      background-color: blueviolet;
      border-color: blueviolet;
    }
  }
}

button.btn-icon {
  padding: 0;
}

div.error-msg {
  text-align: center;
  padding: 0.2rem;
  background-color: rgba(pink, 0.3);
  i {
    vertical-align: middle;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

div.flash-msg {
  padding: 0.7rem;
  background-color: rgba(pink, 0.3);

  .button {
    color: navy;
    background-color: #efefef;
    border: 1px solid navy;
    border-radius: 2px;
    padding: 0 0.2rem;
    margin: auto 0.6rem;

    &:hover,
    &:focus {
      background-color: navy;
      color: #efefef;
    }
  }

  i.material-icons {
    vertical-align: sub;
    font-size: 1.2rem;
  }
}

#form-user-create,
#form-user-login {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1em 0.5em;

  input {
    margin-top: 0.5rem;;
  }
}