/* You can add global styles to this file, and also import other style files */

body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 a {
  color:navy;
  text-decoration: none;
}

ul {
  padding-left:0;
}

li {
  list-style: none;
}

div.movieTile {
    width:100%;
    padding:0;
    background:linear-gradient(lightcyan, lightblue);
    margin-bottom:10px;
    border-radius:12px;
}

div.tile-header {
    border-radius: 12px 12px 0 0;
    background:navy;
    color:white;
    cursor:pointer;
}

div.tile-body {
    margin:0 15px;
}

div.tile-body > p {
    margin-top:10px;
}

div.tile-body .closed {
    display:none;
}

div.tile-body .open {
    display:initial;
}

h3.movie-title {
    margin-top:0;
    padding:15px 15px 0;
}

p.movie-genres {
    font-style: italic;
}

p.movie-rating {
    margin-left: 15px;
}

.left-marg {
  margin-left: 15px;
}

.hidden {
    display:none;
}

.not-hidden {
    display:initial;
}

ul.showtimes-list li {
    display:inline-block;
    margin-right:10px;
}

div.clear {
    clear:both;
    height:10px;
}

.inline {
    display: inline-block;
    margin-right:10px;
}

.show img {
    float:left;
    margin: 0 10px 10px 0;
}

.img-left {
    float:left;
    margin-right: 10px;
}

.sub-menu ul {
    margin:0;
    padding:0;
    width:100%;
    display:flex;
}

.sub-menu ul li {
    display:inline-block;
    background-color:#efefef;
    border-right:4px solid #a4a4a4;
    width:33.3333%;
    padding: 10px 0;
    text-align: center;
    cursor:pointer;
}

.sub-menu ul li:last-child {
    border:none;
}

div.active,
p.active {
    display: initial;
}

div.inactive,
p.inactive {
    display: none;
}

input[type=text],
input[type=submit] {
    margin: 10px 0;
    padding:8px;
    font-size:1.2em;
}

input[type=submit] {
    border: 1px solid #a4a4a4;
    background-color:#efefef;
    padding:9px;
    cursor:pointer;
}

input[type=submit]:hover {
    background-color:paleturquoise;
}