$color-primary: navy;
$color-secondary: lightcyan;

$color-dkgray: #666;
$color-mdgray: #999;
$color-ltgray: #efefef;
$color-white: #fff;

$color-success: #83cc87;
$color-warning: rgba(pink, 0.3);
$bp-md: 860px;