<app-tv-menu [activePath]="'search'"></app-tv-menu>

<div class="search">
  <h2 class="section-title">Search for a Show</h2>
  <div class="form">
    <form (ngSubmit)="findShow(queryString)">
        <input type="text" name="search_box"
              placeholder="The Boys"
              [(ngModel)]="queryString">
        <input type="submit" value="Search">
    </form>
  </div>

  <div class="error-msg" [hidden]="!errorMsg">
    <h3><i class="material-icons">warning</i>{{ errorMsg }}</h3>
  </div>

  <ng-container *ngIf="loading">
    <app-loading-dots ></app-loading-dots>
  </ng-container>

  <div class="results" [hidden]="results?.length < 1">
    <p class="small-text"><em>Results for: {{queryString}}</em></p>

    <ng-container *ngFor="let show of results">
      <app-tv-detail [show]="show" [save]="loggedIn" [remove]="false" [userToken]="userToken" [userShows]="userShows"></app-tv-detail>
    </ng-container>
  </div>

</div>
